body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100%;
    height: 93.5vh;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: #006ab6;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 37% 10% auto;
}

.column1 {
    background-color: #acacac;
    display: grid;
    grid-template-rows: 70% 13% auto;
}

.column2 {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.row {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row:first-child {
    background-color: #fd5e5e;
}

.row:nth-child(2) {
    background-color: #fbf5c5;
}

.row:nth-child(3) {
    background-color: #c2f3aa;
}

.row:nth-child(4) {
    background-color: #8bdef8;
}

#addonsText {
    display: block;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
}

.orders-wrapper {
    height: 95%;
    margin: 10px;
    background-color: #ffffff;
}

.order {
    padding: 5px;
    margin-left: 7px;
    font-size: 16px;
    display: block;
}

.total-price {
    width: 95%;
    margin-left: 10px;
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.pay-buttons {
    width: 95%;
    height: 95%;
    margin-left: 10px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 80% auto;
}

#paycash-button {
    background-color: #7ae24a;
}

#cancel-button {
    background-color: #fa4a4a;
}


.column3 {
    width: 98%;
    margin-left: 5px;
    display: grid;
    grid-template-rows: 10% auto;
}

.Shakes {
    display: grid;
    grid-template-columns: auto auto auto;
}

.column3 button {
    font-size: large;
}

.Milktea {
    display: none;
    grid-template-columns: auto auto auto;
}

.FruitTea {
    display: none;
    grid-template-columns: auto auto auto;
}

.FruitShake {
    display: none;
    grid-template-columns: auto auto auto;
}

.popupSize {
    position: fixed;
    /* Positioned relative to the viewport */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust to center perfectly */
    z-index: 9999;
    /* Place on top of everything */
    width: 40%;
    height: 300px;
    background-color: #006ab6;
    display: grid;

    visibility: hidden;
}

.popupSize button {
    margin-left: 20px;
    margin-top: 5px;
    width: 90%;
    height: 90%;
}

.popupAddons {
    position: fixed;
    /* Positioned relative to the viewport */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust to center perfectly */
    z-index: 9999;
    /* Place on top of everything */
    width: 40%;
    height: 500px;
    background-color: #006ab6;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto 3%;

    visibility: hidden;
}

.popupAddons button {
    margin-left: 20px;
    margin-top: 5px;
    width: 90%;
    height: 90%;
}

.quantity {
    height: 50px;
    width: 80%;
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 14px;
}

.quantity span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.quantity span.num {
    font-size: 25px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.quantity span.plus:active {
    opacity: 30%;
    background-color: #212121;
}

.quantity span.minus:active {
    opacity: 30%;
    background-color: #212121;
}

.popupQuantity {
    position: fixed;
    /* Positioned relative to the viewport */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust to center perfectly */
    z-index: 9999;
    /* Place on top of everything */
    width: 40%;
    height: 300px;
    background-color: #006ab6;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    flex-direction: column;

    visibility: hidden;
}

#confirmQuantity {
    margin-top: 20px;
    width: 30%;
    height: 15%;
    background-color: #7ae24a;
}

.popupPayCash{
    position: fixed;
    /* Positioned relative to the viewport */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust to center perfectly */
    z-index: 9999;
    /* Place on top of everything */
    width: 40%;
    height: 500px;
    background-color: #006ab6;
    display: grid;
    grid-template-rows:  5% 20% 5% auto 5% 10% 5%;

    visibility: hidden;
}

#CashIn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.cashInContainer{
    display:grid;
    width: 90%;
    height:100%;
    margin-left:auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
}

.cashInContainer button{
    font-size: 30px;
}

.buttonPaymentContainer{
    width: 50%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto 10% auto;
}

.buttonPaymentContainer button:first-child{
    background-color:#7ae24a;
}

.buttonPaymentContainer button:last-child{
    background-color: #fa4a4a;
}

.popupChange{
    font-size: 30px;
    position: fixed;
    /* Positioned relative to the viewport */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust to center perfectly */
    z-index: 9999;
    /* Place on top of everything */
    width: 40%;
    height: 500px;
    background-color: #006ab6;
    display: grid;
    grid-template-rows: 10% 35% 35% auto;

    visibility: hidden;
}

.popupChange span{
    margin: 0 auto 0 auto;
}

.popupChange button{
    width:40%;
    height: 60%;
    margin: 0 auto 0 auto;
}

.popupChange form{
    display:grid;
}

.donePayment{
    width:100%;
    height:100%;
}